.content-section {
    width: 100%;
    margin: 0 auto;
} 

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px 92px;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    white-space: nowrap;
}


.header__link_active {
    text-decoration: none;
}


.header__logo {
    display:block;
    justify-content: center;
    align-self: center;
    width: 140px;
}

.header__logo-images {
   width: 100%;
}

.header__address {
    justify-self: end;
    

}

.address {
    display: block;
    font-size: 18px;
    height: 24px;
    text-underline-position: under;
    gap: 20px;
}

.address-text {
    font-size: 18px;
    height: 49px;
    max-width: 237px;
}

main {
    display: block;
}

.cover {
    position: relative;
    padding: 160px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 757px;
}


.cover__title {
    margin-bottom: 135px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 2;

}

.overlay {
    position: absolute;
    background-color: #0000006e;
    inset: 0;
    z-index: 0;
}


.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    line-height: 1;
}

.aligned-text_right {
    text-align: right;
    line-height: 1;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    
}

.cover__description-text {
    word-spacing: 18px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    z-index: 2;
}

.bet-button {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    padding: 12px 32px;
    z-index: 2;
}

.lots {
    padding: 169px 22px 0;

}

.lots__heading {
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
    width: 121px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    padding-top: 27px;
    padding-bottom: 30px;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    top: 74px;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.card-link {
    text-decoration: none;

}
.card_type_film {
    position: relative;
    height: 100%;
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book {
    position: relative;
    height: 100%;
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture {
    position: relative;
    height: 100%;
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;

}

.card__text {
    text-decoration: none;
    color: #fff;
    z-index: 2;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    padding: 30px 102px 2px 40px;
    font-size: 20px;
}

.about {
    display: grid;
    padding: 146px 24px 180px 24px;
    grid-template-columns: 359px 1fr;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;

}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text_block {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 690px;
}

.about__text {
    font-size: 20px;
}