.content-section {
    width: 100%;
    margin: 0 auto;
} 

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px;
    align-items: center;
}

.header_links-list {
    display: flex;
    gap: 32px;
}

.header_links-list-item {
    list-style: circle;
}

.header_links-list-item_no-bullit {
    list-style: none;
}

.header_link {
    font-size: 18px;
    white-space: nowrap;
}


.header_link_active {
    text-decoration: none;
}


.header_logo {
    display:block;
    justify-content: center;
    align-self: center;
    width: 140px;
}

.header_logo-images {
   width: 100%;
}

.header_address {
    justify-self: end;

}

.address{
    display: block;
    font-size: 18px;
    text-underline-position: under;
    gap: 20px;
}

.address-text {
    font-size: 18px;
    line-height: 1.35;
    max-width: 237px;
}