.content-section {
    width: 100%;
    margin: 0 auto;
} 

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px;
    align-items: center;
}

.header_links-list {
    display: flex;
    gap: 32px;
}

.header_links-list-item {
    list-style: circle;
}

.header_links-list-item_no-bullit {
    list-style: none;
}

.header_link {
    font-size: 18px;
    white-space: nowrap;
}


.header_link_active {
    text-decoration: none;
}


.header_logo {
    display:block;
    justify-content: center;
    align-self: center;
    width: 140px;
}

.header_logo-images {
   width: 100%;
}

.header_address {
    justify-self: end;
    

}

.address{
    display: block;
    font-size: 18px;
    height: 24px;
    text-underline-position: under;
    gap: 20px;
}

.address-text {
    font-size: 18px;
    height: 49px;
    max-width: 237px;
}

main {
    display: block;
}

.cover {
   position: relative;
   padding: 160px 50px 50px;
   background-image: url(../images/cover.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}


.cover_title {
    margin-bottom: 135px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;

}

.overlay {
    position: absolute;
    background-color: #000000;
    inset: 0;
}


.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    line-height: 1;
}

.aligned-text_right {
    text-align: right;
    line-height: 1;
}